<div class="col-md-6">
  <h2 class="text-center">Add User</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" formControlName="email" placeholder="Email" name="email" class="form-control" id="email">
      <div *ngIf="submitted && addForm.controls.email.errors" class="error">
        <div *ngIf="addForm.controls.email.errors.required">Email is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input formControlName="firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName">
      <div *ngIf="submitted && addForm.controls.firstName.errors" class="error">
        <div *ngIf="addForm.controls.firstName.errors.required">First Name is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input formControlName="lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName">
      <div *ngIf="submitted && addForm.controls.lastName.errors" class="error">
        <div *ngIf="addForm.controls.lastName.errors.required">Last Name is required</div>
      </div>
    </div>

    <button class="btn btn-success">Update</button>
  </form>
</div>
